<!-- The credits page! -->
<h1>
    Credits
</h1>
<h2>
   Authors
</h2>

<h4>
    <ul>
        <li><a href="https://github.com/Gredelston">Greg Edelston</a></li>
        <li><a href="https://github.com/segerphilip">Philip Seger</a></li>
        <li><a href="https://github.com/cemalkilic">Cemal Kılıç</a></li>
    </ul>
</h4>
    <h4>
        Original GitHub repository can be found <a href="https://github.com/Gredelston/Tindify/" target="_blank">here</a>.
    </h4>

